a, a:hover {
  text-decoration: none;
  color: white;
}

/* CSS for travel site */
.font-primary {
  font-family: 'Poppins', sans-serif;
}
.font-secondary {
  font-family: 'Source Serif Pro', sans-serif;
}

header .upper {
  padding: 0 0 0 3rem;
  background-color: #20305F;
  position: relative;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}
header .upper img {
  height: 17px;
}
header .upper .right-actions .btn-apply {
  padding: 0.8rem 1rem;
  display: inline-block;
  background-color: #BB0707;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  border-radius: 0;
  margin-left: 1rem;
}

header .middle {
  background-color: #fff;
  padding: 1.5rem 2rem;
}
header .middle .left-items .profile {
  height: 100px;
}
header .middle .left-items .info {
  font-family: 'Source Serif Pro', sans-serif;
}
header .middle .left-items .info > p {
  margin-bottom: 0;
}
header .middle .left-items .info > p:last-child {
  font-size: 14px;
}
header .middle .left-items .college {
  font-size: 25px;
  font-weight: 600;
}

header .middle .right-items .btn-admission {
  font-size: 15px;
  font-weight: 400;
  padding: 0.8rem 2.5rem;
  background-color: #2B28D0;
  border-radius: 0;
  color: #fff;
}
