a, a:hover {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
  padding-left: 0;
}
.relative {
  position: relative;
}
.mt-7 {
  margin-top: 6rem;
}
.py-7 {
  padding: 6rem 0;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
section:nth-child(odd) {
  background-color: #F5F5F5;
}
.section-header .section-title {
  font-family: 'Source Serif Pro', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin-bottom: 3rem;
  margin-right: 2rem;
}
.section-header .section-divider {
  border-bottom-width: 2px;
  border-bottom-color: #dcdcdc;
  overflow: hidden;
  padding-top: 0.8rem;
  border-bottom-style: solid;
}

/* CSS for travel site */
.font-primary {
  font-family: 'Poppins', sans-serif;
}
.font-secondary {
  font-family: 'Source Serif Pro', sans-serif;
}

header .upper {
  padding: 0 0 0 3rem;
  background-color: #20305F;
  position: relative;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}
header .upper img {
  height: 17px;
}
header .upper .right-actions .btn-apply {
  padding: 0.6rem 1rem;
  display: inline-block;
  background-color: #BB0707;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  border-radius: 0;
  margin-left: 1rem;
}

header .middle {
  background-color: #fff;
  padding: 1rem 2rem;
}
header .middle .left-items .profile {
  height: 100px;
}
header .middle .left-items .info {
  font-family: 'Source Serif Pro', sans-serif;
}
header .middle .left-items .info > p {
  margin-bottom: 0;
}
header .middle .left-items .info > p:last-child {
  font-size: 14px;
}
header .middle .left-items .college {
  font-size: 25px;
  font-weight: 600;
}

header .middle .right-items .btn-admission {
  font-size: 15px;
  font-weight: 400;
  padding: 0.8rem 2.5rem;
  background-color: #2B28D0;
  border-radius: 0;
  color: #fff;
}

header .navbar.lower {
  background-color: #20305F;
  padding: 0;
}
header .navbar .navbar-nav .nav-item .nav-link {
  padding: 0.8rem 1.5rem;
  font-size: 13px;
  font-weight: 400;
}
header .navbar .navbar-nav .nav-item.active .nav-link,
  header .navbar .navbar-nav .nav-item:hover .nav-link {
  background-color: #495885;
}

/* banner */
header .banner .banner-img, header .banner .notifications {
  height: 500px;
  background-color: black;
}
header .banner .banner-img::before {
  content: '';
  background: url("../img/banner.jpg") no-repeat center center/cover;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header .banner .notifications {
  background-color: #F1F1F1;
}
header .banner .notifications .update-items {
  font-size: 13px;
  padding: 0 1rem 0 1rem;
}
header .banner .notifications .update-items .btn-new {
  font-size: 9px;
  background-color: #BB0707;
  color: #fff;
  border-radius: 0;
  padding: 0.125rem 0.5rem;
}
header .banner .notifications .update-items li {
  color: #2311F8;
  background-color: #e6e6e6;
  padding: 0.25rem 0.8rem;
  margin-bottom: 0.5rem;
}

/* highlights */
.highlights {
  margin-top: -50px;
}
.highlights .row {
  gap: 2.5rem;
}
.highlights .highlight-item img {
  object-fit: cover;
}
.highlights .highlight-item .highlight-title {
  background-color: #20305F;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 0.5rem 0.25rem;
}

/* about-section */
.about-section .about-info {
  line-height: 26px;
}
.about-section .features ul {
  padding-left: 0;
  font-size: 14px;
  line-height: 36px;
}
.about-section .features img {
  height: 25px;
}

/* principal-section */
.principal-section .message-info {
  line-height: 26px;
}

/* admission section */
.admissions-section .nav-tabs .nav-link {
  background-color: #DBDBDB;
  color: #666;
  font-size: 16px;
  font-weight: 600;
  border-radius: 0;
  margin-right: 5px;
}
.admissions-section .nav-tabs .nav-link.active {
  background-color: #F8F8F8;
  border: 1px solid #F8F8F8;
}
.admissions-section .tab-content .tab-pane {
  padding: 3rem;
}
.admissions-section .tab-content .tab-pane img {
  height: 25px;
}
.admissions-section .tab-content .tab-pane span {
  margin-left: 10px;
}

/* covid */
.covid-section .background-container {
  position: relative;
}
.covid-section .background-container .image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
.covid-section .covid-text-wrapper .inner-content {
  padding: 3rem;
  background-color: #E9E9E9;
  margin: 30px 0;
  position: relative;
  left: 80%;
}
.covid-section .covid-text-wrapper .title {
  font-family: "Source Serif Pro", sans-serif;
}
.covid-section .covid-text-wrapper img {
  height: 25px;
}
